In [18]:
import pandas as pd

# 1 Read a .csv from a URL with Pandas

#### Target website: https://www.football-data.co.uk/data.php

In [19]:
# reading 1 csv file from the website
df_premier25 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2526/E0.csv')

In [20]:
# showing dataframe
df_premier25

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,E0,30/12/2025,20:15,Man United,Wolves,1,1,D,1,1,...,1.85,2.00,1.87,2.06,1.85,2.06,1.77,2.01,1.92,2.05
186,E0,01/01/2026,17:30,Crystal Palace,Fulham,1,1,D,1,0,...,1.90,1.95,1.96,1.96,1.91,1.95,1.88,1.90,2.02,1.95
187,E0,01/01/2026,17:30,Liverpool,Leeds,0,0,D,0,0,...,1.75,2.05,1.82,2.13,1.77,2.07,1.74,2.05,1.84,2.16
188,E0,01/01/2026,20:00,Brentford,Tottenham,0,0,D,0,0,...,1.73,2.08,1.82,2.13,1.80,2.08,1.74,2.02,1.83,2.19
189,E0,01/01/2026,20:00,Sunderland,Man City,0,0,D,0,0,...,1.88,1.98,1.89,2.04,1.93,1.98,1.86,1.92,1.92,2.06

In [21]:
# rename columns
df_premier25.rename(columns={'FTHG': "home_goals",
                             'FTAG': "away_goals"}, inplace=True)
df_premier25

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,E0,30/12/2025,20:15,Man United,Wolves,1,1,D,1,1,...,1.85,2.00,1.87,2.06,1.85,2.06,1.77,2.01,1.92,2.05
186,E0,01/01/2026,17:30,Crystal Palace,Fulham,1,1,D,1,0,...,1.90,1.95,1.96,1.96,1.91,1.95,1.88,1.90,2.02,1.95
187,E0,01/01/2026,17:30,Liverpool,Leeds,0,0,D,0,0,...,1.75,2.05,1.82,2.13,1.77,2.07,1.74,2.05,1.84,2.16
188,E0,01/01/2026,20:00,Brentford,Tottenham,0,0,D,0,0,...,1.73,2.08,1.82,2.13,1.80,2.08,1.74,2.02,1.83,2.19
189,E0,01/01/2026,20:00,Sunderland,Man City,0,0,D,0,0,...,1.88,1.98,1.89,2.04,1.93,1.98,1.86,1.92,1.92,2.06

# 2 Read .csv from Multiple URLs with Pandas

- https://www.football-data.co.uk/mmz4281/2526/E0.csv
- https://www.football-data.co.uk/mmz4281/2526/E1.csv

#### Link: root + season + league

In [22]:
# link structure
"https://www.football-data.co.uk/mmz4281/" + "2526" + "/" + "E0" + ".csv"

'https://www.football-data.co.uk/mmz4281/2526/E0.csv'

In [23]:
# create a root variable
root = "https://www.football-data.co.uk/mmz4281/"

## 2.1 Multiple leagues

- https://www.football-data.co.uk/mmz4281/2526/E0.csv
- https://www.football-data.co.uk/mmz4281/2526/E1.csv
- https://www.football-data.co.uk/mmz4281/2526/E2.csv
- https://www.football-data.co.uk/mmz4281/2526/E3.csv
- https://www.football-data.co.uk/mmz4281/2526/EC.csv

In [24]:
# creat list of leagues
leagues = ['E0', 'E1', 'E2', 'E3', 'EC']
frames =[]

# lopping through leagues, read multiple csv and append it into a list
for league in leagues:
    df = pd.read_csv(root + '2526' + '/' + league + '.csv', encoding='unicode_escape')
    frames.append(df)

In [25]:
# length of frames
len(frames)

5

In [26]:
# show 1st, 2nd and 3rd element
frames[4]

,ï»¿Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,EC,09/08/2025,15:00,Altrincham,Aldershot,3,2,H,2,0,...,1.90,1.90,1.92,1.93,1.90,1.90,1.86,1.84,2.00,1.99
1,EC,09/08/2025,15:00,Boreham Wood,Rochdale,0,2,A,0,0,...,2.00,1.80,2.05,1.82,2.02,1.80,1.96,1.75,2.06,1.89
2,EC,09/08/2025,15:00,Brackley Town,Eastleigh,1,0,H,1,0,...,2.00,1.80,2.14,1.72,2.03,1.80,1.96,1.75,2.06,1.84
3,EC,09/08/2025,15:00,Braintree Town,Halifax,3,0,H,2,0,...,1.93,1.88,1.97,1.88,1.93,1.88,1.88,1.82,1.97,1.98
4,EC,09/08/2025,15:00,Gateshead,Southend,0,3,A,0,1,...,1.83,1.98,1.67,2.19,1.83,2.04,1.75,1.96,1.84,2.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,EC,30/12/2025,19:45,Scunthorpe,Gateshead,2,0,H,1,0,...,1.88,1.93,NaN,NaN,1.90,1.95,1.83,1.86,1.81,2.06
290,EC,30/12/2025,19:45,Southend,Sutton,1,0,H,1,0,...,1.85,1.95,NaN,NaN,1.85,1.95,1.81,1.89,1.91,2.01
291,EC,30/12/2025,19:45,Tamworth,Halifax,0,2,A,0,2,...,2.00,1.80,NaN,NaN,2.00,1.80,1.93,1.77,2.07,1.92
292,EC,30/12/2025,19:45,Woking,Braintree Town,0,1,A,0,1,...,1.98,1.83,NaN,NaN,1.98,1.83,1.92,1.78,2.09,1.88
293,EC,30/12/2025,19:45,Yeovil,Eastleigh,1,1,D,1,1,...,1.78,2.03,NaN,NaN,1.78,2.05,1.71,2.01,1.79,2.20

## 2.2 Multipe Seasons

In [27]:
for season in range(15, 26):
    print(str(season) + str(season + 1))

1516
1617
1718
1819
1920
2021
2122
2223
2324
2425
2526

In [28]:
# creat list of leagues
leagues = ['E0', 'E2', 'E3']
frames =[]

# loop through range of seasons and insert new column
for league in leagues:
    for season in range(15, 21):
        df = pd.read_csv(root + '2526' + '/' + league + '.csv')
        df.insert(1, 'season', season)
        frames.append(df)

In [29]:
# total frames (6 seasons x 3 leagues)
len(frames)

18

In [30]:
# show 1st, and last element (new season column was created)
frames[-1]

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E3,20,02/08/2025,15:00,Accrington,Gillingham,1,1,D,0,...,1.98,1.88,1.76,2.12,1.98,1.88,1.92,1.83,2.09,1.88
1,E3,20,02/08/2025,15:00,Barnet,Fleetwood Town,0,2,A,0,...,2.00,1.85,2.29,1.65,2.08,1.85,2.00,1.74,2.04,1.93
2,E3,20,02/08/2025,15:00,Bristol Rvs,Harrogate,0,1,A,0,...,1.83,2.03,1.85,2.00,1.85,2.03,1.78,1.96,1.88,2.12
3,E3,20,02/08/2025,15:00,Cambridge,Cheltenham,1,0,H,0,...,1.98,1.88,1.88,1.97,1.98,1.88,1.90,1.83,1.98,2.00
4,E3,20,02/08/2025,15:00,Chesterfield,Barrow,1,0,H,1,...,1.78,2.03,1.79,2.06,1.80,2.07,1.73,2.02,1.87,2.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,E3,20,01/01/2026,15:00,Harrogate,Tranmere,0,2,A,0,...,1.80,2.05,NaN,NaN,1.83,2.05,1.72,2.00,1.84,2.14
284,E3,20,01/01/2026,15:00,Notts County,Accrington,0,1,A,0,...,2.03,1.83,NaN,NaN,2.03,1.83,1.95,1.76,2.10,1.87
285,E3,20,01/01/2026,15:00,Oldham,Chesterfield,1,1,D,0,...,1.93,1.93,NaN,NaN,1.96,1.93,1.90,1.80,2.01,1.95
286,E3,20,01/01/2026,15:00,Shrewsbury,Bristol Rvs,0,3,A,0,...,1.88,1.98,NaN,NaN,1.88,1.98,1.83,1.91,1.91,2.05
287,E3,20,01/01/2026,15:00,Swindon,Gillingham,2,0,H,0,...,1.85,2.00,NaN,NaN,1.85,2.00,1.77,1.94,1.91,2.05

# 3 Organize All The Data in a Dictionary

In [31]:
# create a dictionary with original name of league as key
dict_countries = {
    'Spanish La Liga': 'SP1',
    'Spanish Segunda Division': 'SP2',
    'German Bundes liga': 'D1',
    'English Primier League': 'E0',
    'English League 1': 'E2',
    'English League 2': 'E3',
}

In [32]:
# get a dictionary element
dict_countries['Spanish La Liga']

'SP1'

In [33]:
for league in dict_countries:
    print(dict_countries[league])

SP1
SP2
D1
E0
E2
E3

In [35]:
dict_historical_data = {}

# creating list through key elements
# leagues = ['E0', 'E2', 'E3']

# looping through key elements
for league in dict_countries:
    frames =[]
    for season in range(15, 21):
        df = pd.read_csv(root + str(season) + str(season+1) + '/' + dict_countries[league] + '.csv')
        df.insert(1, 'season', season)
        frames.append(df)
    df_concat = pd.concat(frames)
    dict_historical_data[league] = df_concat

In [38]:
dict_historical_data['English Primier League']

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,15,08/08/2015,Bournemouth,Aston Villa,0,1,A,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,15,08/08/2015,Chelsea,Swansea,2,2,D,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,15,08/08/2015,Everton,Watford,2,2,D,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,15,08/08/2015,Leicester,Sunderland,4,2,H,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,15,08/08/2015,Man United,Tottenham,1,0,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,20,23/05/2021,Liverpool,Crystal Palace,2,0,H,1,0,...,3.49,-2.25,1.86,2.04,1.88,2.03,1.98,2.14,1.88,2.00
376,E0,20,23/05/2021,Man City,Everton,5,0,H,2,0,...,2.77,-1.75,2.01,1.89,1.99,1.89,2.20,2.00,2.03,1.85
377,E0,20,23/05/2021,Sheffield United,Burnley,1,0,H,1,0,...,2.05,0.00,2.04,1.86,2.05,1.86,2.17,1.90,2.03,1.84
378,E0,20,23/05/2021,West Ham,Southampton,3,0,H,2,0,...,2.14,-0.75,2.00,1.90,2.02,1.91,2.06,2.01,1.99,1.89
379,E0,20,23/05/2021,Wolves,Man United,1,2,A,1,2,...,1.62,-0.25,2.04,1.86,2.10,1.84,2.10,1.94,2.00,1.88