In [3]:
import pandas as pd

In [4]:
# reading the csv file
df_exams = pd.read_csv('StudentsPerformance.csv')
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# 1 Create Index

In [6]:
import numpy as np
import random

In [10]:
# createing non repetitive values for the index
new_index = np.arange(0, 1000)

In [11]:
# shuffling the indexes
random.shuffle(new_index)

In [16]:
# create a new column with new index
df_exams['new_index'] = new_index
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,new_index
0,female,group B,bachelor's degree,standard,none,72,72,74,914
1,female,group C,some college,standard,completed,69,90,88,226
2,female,group B,master's degree,standard,none,90,95,93,132
3,male,group A,associate's degree,free/reduced,none,47,57,44,293
4,male,group C,some college,standard,none,76,78,75,759
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,173
996,male,group C,high school,free/reduced,none,62,55,55,485
997,female,group C,high school,free/reduced,completed,59,71,65,929
998,female,group D,some college,standard,completed,68,78,77,213
999,female,group D,some college,free/reduced,none,77,86,86,772

# 2 Set Index

In [20]:
# set new_index column as index
df_exams.set_index('new_index', inplace=True)
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
new_index,,,,,,,,
914,female,group B,bachelor's degree,standard,none,72,72,74
226,female,group C,some college,standard,completed,69,90,88
132,female,group B,master's degree,standard,none,90,95,93
293,male,group A,associate's degree,free/reduced,none,47,57,44
759,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
173,female,group E,master's degree,standard,completed,88,99,95
485,male,group C,high school,free/reduced,none,62,55,55
929,female,group C,high school,free/reduced,completed,59,71,65
213,female,group D,some college,standard,completed,68,78,77
772,female,group D,some college,free/reduced,none,77,86,86

# 3 Sort Index

In [21]:
# sort dataframe by new index
df_exams.sort_index()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
new_index,,,,,,,,
0,female,group E,associate's degree,standard,none,59,62,69
1,male,group B,some high school,standard,none,68,54,53
2,male,group D,high school,standard,none,72,66,66
3,male,group B,associate's degree,standard,none,80,76,64
4,male,group C,high school,standard,completed,86,81,80
...,...,...,...,...,...,...,...,...
995,female,group C,high school,standard,none,60,68,72
996,male,group C,some college,free/reduced,none,80,64,66
997,male,group B,some college,standard,none,62,61,57
998,male,group C,some college,standard,completed,79,79,78
999,female,group D,high school,standard,completed,69,77,78

In [24]:
# sort desending by index
df_exams.sort_index(ascending=False, inplace=True)
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
new_index,,,,,,,,
999,female,group D,high school,standard,completed,69,77,78
998,male,group C,some college,standard,completed,79,79,78
997,male,group B,some college,standard,none,62,61,57
996,male,group C,some college,free/reduced,none,80,64,66
995,female,group C,high school,standard,none,60,68,72
...,...,...,...,...,...,...,...,...
4,male,group C,high school,standard,completed,86,81,80
3,male,group B,associate's degree,standard,none,80,76,64
2,male,group D,high school,standard,none,72,66,66
1,male,group B,some high school,standard,none,68,54,53
0,female,group E,associate's degree,standard,none,59,62,69