In [32]:
import pandas as pd

In [33]:
df_laptops = pd.read_csv('laptop_price.csv')

In [34]:
df_laptops.head(3)

,Unnamed: 0,Company,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
0,0,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,71378.6832
1,1,Apple,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,47895.5232
2,2,HP,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,30636.0000

# 1 drop_duplicates()

In [9]:
# drop duplicates in 2 or more columns
df_laptops.drop_duplicates(['Company'])[['Company', 'Price']]

       Company        Price
0        Apple   71378.6832
2           HP   30636.0000
5         Acer   21312.0000
8         Asus   79653.6000
13        Dell   26581.3920
18      Lenovo   26586.7200
30       Chuwi   13053.0672
58         MSI  130482.7200
70   Microsoft   58021.9200
143    Toshiba   32074.5600
170     Huawei   71874.7200
184     Xiaomi   63882.7200
191       Vero   13852.8000
196      Razer  324954.7200
429   Mediacom   15930.7200
430    Samsung   14332.3200
437     Google  117162.7200
567    Fujitsu   39373.9200
678         LG  122490.7200

In [17]:
# sort dataframe asending by company and price
# cheapest first and most expensive last
df_laptops = df_laptops.sort_values(['Company', 'Price'])

In [18]:
# cheapest: keep='last'
df_laptops.drop_duplicates(['Company'], keep='first')[['Company', 'Price']]

        Company        Price
1215       Acer    9270.7200
1         Apple   47895.5232
20         Asus   10224.4320
30        Chuwi   13053.0672
340        Dell   14646.6720
983     Fujitsu   34578.7200
472      Google   67932.0000
1268         HP   11135.5200
170      Huawei   71874.7200
909          LG  101178.7200
1272     Lenovo   12201.1200
1169        MSI   44701.9200
626    Mediacom   12733.9200
457   Microsoft   52693.9200
1117      Razer   54825.1200
430     Samsung   14332.3200
159     Toshiba   23816.1600
1120       Vero   10442.8800
877      Xiaomi   49816.8000

In [21]:
# most expensive: keep='last'
df_laptops.drop_duplicates(['Company'], keep='last', inplace=True, ignore_index=True)

In [23]:
# Arguments

# inplace: drop duplicates in place or to return a copy.
# ignore_index=True: the resulting axis will be labeled 0, 1, ...
df_laptops[['Company', 'Price']]

      Company       Price
0        Acer  138474.720
1       Apple  152274.240
2        Asus  211788.000
3       Chuwi   23922.720
4        Dell  194972.832
5     Fujitsu   42570.720
6      Google  117162.720
7          HP  233845.920
8      Huawei   79866.720
9          LG  122490.720
10     Lenovo  261018.720
11        MSI  149130.720
12   Mediacom   20725.920
13  Microsoft  137941.920
14      Razer  324954.720
15    Samsung   98514.720
16    Toshiba  149130.720
17       Vero   13852.800
18     Xiaomi   74589.336

# 2 Exercise 1

#### Task: Find the biggest and smallest screen size in laptops of each company using the sort_values() and methods (keep "first", "last" and False)

In [45]:
df_laptops = pd.read_csv('laptop_price.csv')

In [46]:
# sort dataframe asending by company and inches
# smallest first and biggest last
df_laptops = df_laptops.sort_values(['Company', 'Inches'])

In [48]:
# smallest: keep='first'
df_laptops.drop_duplicates(['Company'], keep='first')[['Company', 'Inches']]

        Company  Inches
319        Acer    11.6
1234      Apple    11.6
20         Asus    11.6
421       Chuwi    12.3
455        Dell    11.6
567     Fujitsu    15.6
437      Google    12.3
677          HP    11.6
170      Huawei    13.0
909          LG    14.0
50       Lenovo    10.1
785         MSI    14.0
429    Mediacom    11.6
70    Microsoft    13.5
816       Razer    12.5
430     Samsung    11.6
963     Toshiba    12.5
1120       Vero    13.3
192      Xiaomi    13.3

In [49]:
# biggest: keep='last'
df_laptops.drop_duplicates(['Company'], keep='last')[['Company', 'Inches']]

        Company  Inches
1216       Acer    17.3
17        Apple    15.4
1256       Asus    17.3
483       Chuwi    15.6
1243       Dell    17.3
983     Fujitsu    15.6
762      Google    12.3
1136         HP    17.3
214      Huawei    13.0
905          LG    15.6
1217     Lenovo    17.3
177         MSI    18.4
718    Mediacom    14.0
670   Microsoft    13.5
830       Razer    17.3
593     Samsung    15.6
1042    Toshiba    15.6
1041       Vero    14.0
514      Xiaomi    15.6