In [1]:
import pandas as pd

In [2]:
# reads csv file
df =  pd.read_csv('players_20.csv')
#set index
df.set_index('short_name', inplace=True)
# selecr column
df = df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

In [3]:
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

# 1 sample()

In [13]:
# extract 10 random elements from the "nationality" column
df['nationality'].sample(10, random_state=99)

short_name
R. Alvarado               Mexico
Qiao Wei                China PR
E. Paredes                 Chile
K. Stoyanov             Bulgaria
M. Chudý                Slovakia
D. Sundaram                India
R. Gagliardini             Italy
G. Debeljuh              Croatia
Kim Seung Yong    Korea Republic
M. Hansen                Denmark
Name: nationality, dtype: object

In [19]:
# extract a random 20% sample of the dataframe
df.sample(int(18278 * 20 / 100))

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
D. Davis,David Davis,28,1991-02-20,177,82,England,Birmingham City
D. Volkmer,Dominic Volkmer,23,1996-04-27,194,88,Germany,SSV Jahn Regensburg
M. Paes,Maarten Paes,21,1998-05-14,191,82,Netherlands,FC Utrecht
Park Byung Hyun,박병현 Byung Hyun Park,26,1993-03-28,184,83,Korea Republic,Daegu FC
D. Hernández,Daniel Hernández,28,1990-12-01,176,65,Colombia,Deportivo Pasto
...,...,...,...,...,...,...,...
Hugo Rubiães,Hugo Adryan Rubiães Chaves,35,1984-02-29,175,75,Brazil,Fluminense
D. Lenihan,Darragh Lenihan,25,1994-03-16,178,76,Republic of Ireland,Blackburn Rovers
M. Wdowiak,Mateusz Wdowiak,22,1996-08-28,174,60,Poland,Cracovia
E. Taşdemir,Emre Taşdemir,23,1995-08-08,176,70,Turkey,Galatasaray SK
M. Osman,Mohammed Osman,25,1994-01-01,183,78,Syria,Heracles Almelo

In [20]:
df.sample(frac=0.2)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
G. Lefebvre,Grégoire Lefebvre,25,1994-05-13,174,63,France,AS Nancy Lorraine
J. Baird,Jack Baird,23,1996-02-07,188,68,Scotland,St. Mirren
H. Opdal,Håkon Eikemo Opdal,37,1982-06-11,188,91,Norway,SK Brann
B. Nimaga,Bakary Nimaga,24,1994-12-06,189,71,Mali,TSV Hartberg
Raúl,Raúl Michel Melo da Silva,29,1989-11-04,187,80,Brazil,SC Braga
...,...,...,...,...,...,...,...
S. van der Lei,Stefan van der Lei,26,1993-03-05,186,79,Netherlands,FC Emmen
N. Blandi,Nicolás Blandi,29,1990-01-13,181,76,Argentina,San Lorenzo de Almagro
P. Digby,Paul Digby,24,1995-02-02,195,70,England,Stevenage
J. Pérez,Juan David Pérez Benítez,28,1991-03-23,178,72,Colombia,Millonarios FC
Juninho,Vitor Gomes Pereira Júnior,30,1989-01-08,171,67,Brazil,LA Galaxy

In [23]:
df.sample(frac=0.2, random_state=12)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Y. Thoelen,Yannick Thoelen,28,1990-07-18,188,89,Belgium,KV Mechelen
M. Nadé,Mickaël Nadé,20,1999-03-04,188,80,France,AS Saint-Étienne
V. García,Víctor Hugo García Hernández,25,1994-06-11,178,71,Venezuela,Vitória Guimarães
M. Gyamfi,Maxwell Gyamfi,19,2000-01-18,185,75,Germany,VfL Bochum 1848
W. Cyprien,Wylan Cyprien,24,1995-01-28,180,75,France,OGC Nice
...,...,...,...,...,...,...,...
H. Kadish,Hassan Kadish,26,1992-09-26,179,73,Saudi Arabia,Al Hilal
A. Chapman,Aaron Chapman,29,1990-05-29,203,92,England,Peterborough United
I. Ezekiel,Imoh Ezekiel,25,1993-10-24,178,70,Nigeria,KV Kortrijk
H. Sakai,酒井 宏樹,29,1990-04-12,183,70,Japan,Olympique de Marseille
C. Keșerü,Claudiu Andrei Keșerü,32,1986-12-02,178,71,Romania,Romania

In [24]:
# upsample: increase the sampling rate -> frac>1 (Note: replace parameter has to be True for frac parameter > 1)
df.sample(frac=2, replace=True)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Hannant,Luke Hannant,25,1993-11-04,180,70,England,Cambridge United
M. Ridenton,Matthew Ridenton,23,1996-03-11,180,72,New Zealand,Newcastle Jets
R. Cornwall,Rob Cornwall,24,1994-10-16,183,86,Republic of Ireland,Bohemian FC
G. Williams,George Christopher Williams,23,1995-09-07,172,73,Wales,Forest Green Rovers
G. Andronic,Gheorghe Andronic,27,1991-09-25,172,63,Moldova,Astra Giurgiu
...,...,...,...,...,...,...,...
K. Athiu,Kenny Athiu,26,1992-08-05,201,85,South Sudan,Melbourne Victory
J. Toivio,Joona Toivio,31,1988-03-10,186,87,Finland,BK Häcken
A. Letellier,Alexandre Letellier,28,1990-12-11,193,93,France,Sarpsborg 08 FF
G. Velázquez,Gustavo Velázquez,28,1991-04-17,180,78,Paraguay,FC Juárez
E. Ocansey,Eric Ocansey,21,1997-08-22,173,71,Ghana,KV Kortrijk

In [25]:
18278  * 2

36556

In [26]:
df.sample(frac=2, replace=True, random_state=77)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
T. Costantini,Tommaso Costantini,23,1996-06-23,183,77,Italy,SPAL
M. Dimun,Milan Dimun,22,1996-09-19,186,76,Slovakia,Cracovia
J. Bjørdal,Johan Lædre Bjørdal,33,1986-05-05,188,83,Norway,Vålerenga Fotball
W. Ditta,Willer Ditta,22,1997-01-23,180,80,Colombia,Junior FC
Y. Çetin,Yıldırım Mert Çetin,22,1997-01-01,189,85,Turkey,Roma
...,...,...,...,...,...,...,...
C. Karayel,Cebrail Karayel,24,1994-08-15,174,75,Turkey,MKE Ankaragücü
Yang Shiyuan,杨世元,25,1994-03-11,173,70,China PR,Shanghai SIPG FC
H. Ishikawa,石川 启人,20,1998-07-16,172,64,Japan,Sagan Tosu
I. Slimani,Islam Slimani,31,1988-06-18,188,83,Algeria,Leicester City
Róber,Roberto Suárez Pier,24,1995-02-16,182,74,Spain,Deportivo de La Coruña